@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2ead83;
  --secondary: #1C82AD;
  --pg: #1C82AD;
  --pr: #1C82AD;
  --rg: #2ead83;
  --rb: #2ead83;
  --rr: #2ead83;
  --br: #00337C;
  --dw: #13005A;
  --card: #00337C;
  --background: #13005A;
  --track: #1C82AD;
  --thumb: #13005A;
  --logo: hsl(204, 76%, 69%);
  --text: #ffffff;
  --trans: hsla(305, 44%, 66%, 0.3);
}
[data-theme="dark"] {
  --primary: #2ead83;
  --secondary: #1C82AD;
  --pg: #1C82AD;
  --pr: #1C82AD;
  --rg: #2ead83;
  --rb: #2ead83;
  --rr: #2ead83;
  --br: #00337C;
  --dw: #13005A;
  --card: #00337C;
  --background: #13005A;
  --track: #1C82AD;
  --thumb: #13005A;
  --logo: hsl(204, 76%, 69%);
  --text: #ffffff;
  --trans: hsla(305, 44%, 66%, 0.3);
}
[data-theme="light"] {
  --primary: #98EECC;
  --secondary: #D0F5BE;
  --pg: #98EECC;
  --pr: #D0F5BE;
  --rg: #98EECC;
  --rb: #79E0EE;
  --rr: #D0F5BE;
  --br: #D0F5BE;
  --dw: #ffffff;
  --card: #ffffff;
  --background: rgb(239, 250, 244);
  --track: #ffffff;
  --thumb: #D0F5BE;
  --logo: hsl(195, 100%, 75%);
  --text: black;
  --trans: hsla(164, 53%, 63%, 0.3);
}

hr {
  /* make al hr tags thicker */
  border: 2px solid var(--primary);
  border-radius: 5px;
  margin: 6px 0 10px 0;
}

html {
  background-color: var(--background);
  scrollbar-gutter: stable both-edges;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: var(--track);
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: var(--thumb);
  border: 3px solid var(--track);
}

::-webkit-scrollbar-corner {
  background-color: #ddd;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}

.react-transform-wrapper {
  overflow: visible !important;
}
